In [1]:
#This script drops all the tables from the servers to prevent errors if we have to re-run the Load script.

In [2]:
import csv
from sqlalchemy import create_engine
import pymysql
pymysql.install_as_MySQLdb()
from sqlalchemy import Column, Integer, String, Float
from sqlalchemy.orm import Session
from sqlalchemy.ext.declarative import declarative_base

In [3]:
engine = create_engine('mysql://group07:KnuUyh4WWRqHDxNY@cwru-data-project02.ciuevunbeloh.us-east-2.rds.amazonaws.com:3306/group07')
con = engine.connect()
session = Session(bind=engine)

In [4]:
tables=engine.execute('show tables')

In [5]:
for t in tables: print(t)

('aircraft',)
('mission',)
('station',)
('weapon',)
('weather',)

In [6]:
try:
    engine.execute('drop table Weather')
except:
    print('table already gone')

table already gone

In [7]:
try:
    engine.execute('drop table weather')
except:
    print('table already gone')

In [8]:
try:
    engine.execute('drop table aircraft')
except:
    print('table already gone')

In [9]:
try:
    engine.execute('drop table mission')
except:
    print('table already gone')

In [10]:
try:
    engine.execute('drop table missions')
except:
    print('table already gone')

table already gone

In [11]:
try:
    engine.execute('drop table station')
except:
    print('table already gone')

In [12]:
try:
    engine.execute('drop table weapon')
except:
    print('table already gone')

In [13]:
tables=engine.execute('show tables')
for t in tables: print(t)